[manifest]
version = "1.0.0"
dump_lua = true
priority = 1

######################
#Logo art credits

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''UIBox{
        definition = 
        {n=G.UIT.ROOT, config={align = "cm", colour = G.C.UI.TRANSPARENT_DARK}, nodes={
            {n=G.UIT.T, config={text = G.VERSION, scale = 0.3, colour = G.C.UI.TEXT_LIGHT}}
        }}, 
        config = {align="tri", offset = {x=0,y=0}, major = G.ROOM_ATTACH, bond = 'Weak'}
    }'''
position = "after"
payload = '''UIBox{
        definition = 
        {n=G.UIT.ROOT, config={align = "cm", colour = G.C.UI.TRANSPARENT_DARK}, nodes={
            {n=G.UIT.T, config={text = "Logo Art by " .. KGL.selected_logo.credits, scale = 0.4, colour = KGL.selected_logo.creditsColour}}
        }}, 
        config = {align="tli", offset = {x=0,y=0}, major = G.ROOM_ATTACH, bond = 'Weak'}
    }'''
match_indent = true

######################
#Main Menu background swirl replacement

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''G.SPLASH_BACK:define_draw_steps({{
        shader = 'splash',
        send = {
            {name = 'time', ref_table = G.TIMERS, ref_value = 'REAL_SHADER'},
            {name = 'vort_speed', val = 0.4},
            {name = 'colour_1', ref_table = G.C, ref_value = 'RED'},
            {name = 'colour_2', ref_table = G.C, ref_value = 'BLUE'},
            {name = 'mid_flash', ref_table = splash_args, ref_value = 'mid_flash'},
            {name = 'vort_offset', val = 0},
        }}})'''
position = "at"
payload = '''G.SPLASH_BACK:define_draw_steps({{
        shader = 'background',
        send = {
            {name = 'time', ref_table = G.TIMERS, ref_value = 'REAL_SHADER'},
            {name = 'spin_time', ref_table = G.TIMERS, ref_value = 'BACKGROUND'},
            {name = 'colour_1', ref_table = KGL.selected_logo, ref_value = 'primaryColour'},
            {name = 'colour_2', ref_table = KGL.selected_logo, ref_value = 'secondaryColour'},
            {name = 'colour_3', ref_table = G.C.BACKGROUND, ref_value = 'D'},
            {name = 'contrast', ref_table = KGL.selected_logo, ref_value = 'contrast'},
            {name = 'spin_amount', val = 0}
        }}})'''
match_indent = true

######################
#Remove card from main menu

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''local replace_card = Card(self.title_top.T.x, self.title_top.T.y, 1.2*G.CARD_W*SC_scale, 1.2*G.CARD_H*SC_scale, G.P_CARDS.S_A, G.P_CENTERS.c_base)'''
position = "at"
payload = '''local replace_card = Card(0*self.title_top.T.x, 0*self.title_top.T.y, 1.2*G.CARD_W*SC_scale, 1.2*G.CARD_H*SC_scale, G.P_CARDS.S_A, G.P_CENTERS.c_base)'''
match_indent = true


[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''G.E_MANAGER:add_event(Event({
                trigger = 'after',
                delay = 1.04,
                func = (function()
                    card:start_materialize()
                    self.title_top:emplace(card)
                    return true
            end)}))'''
position = "at"
payload = '''G.E_MANAGER:add_event(Event({
                trigger = 'after',
                delay = 1.04,
                func = (function()
                    --card:start_materialize()
                    --self.title_top:emplace(card)
                    return true
            end)}))'''
match_indent = true


[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''replace_card.states.visible = true
                replace_card:start_materialize({G.C.WHITE,G.C.WHITE}, true, 2.5)
                play_sound('whoosh1', math.random()*0.1 + 0.3,0.3)
                play_sound('crumple'..math.random(1,5), math.random()*0.2 + 0.6,0.65)'''
position = "at"
payload = '''--replace_card.states.visible = true
                --replace_card:start_materialize({G.C.WHITE,G.C.WHITE}, true, 2.5)
                --play_sound('whoosh1', math.random()*0.1 + 0.3,0.3)
                --play_sound('crumple'..math.random(1,5), math.random()*0.2 + 0.6,0.65)'''
match_indent = true


[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''replace_card.states.visible = true
                replace_card:start_materialize({G.C.WHITE,G.C.WHITE}, nil, 1.2)'''
position = "at"
payload = '''--replace_card.states.visible = true
                --replace_card:start_materialize({G.C.WHITE,G.C.WHITE}, nil, 1.2)'''
match_indent = true



